p {
	color: #fff;
}

body {
	font-family: 'Lato', san-serif;
	color: #eee;
}

#control-panel {
	padding-top: 18px;
}

.dropzone {
	z-index: 2;
	background-color: #222;
	border-radius: 60px;
	padding: 50px;
	font-size: medium;
}

h1 {
}

.text_super {
	text-shadow: 3px 5px 5px #445544;
}

a:hover {
	color: #ffccb3;
	text-decoration: none;
}

input {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	background: #999;
	color: #ffcc81;
	font-size: large;
}

input:focus {
	outline: none;	
}

button {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	background: #888;
}

button:focus {
	outline: none;	
}

button:hover {
	background: #aaa;
}

.goal_button{
	font-size: x-large;	
}

.nav-button {
	background-color: #ffeedd;
}

.kitten-button {
	background-color: #CCC5FA;
}

.section {
}

#test {
}

ul {
	list-style-type: none;
}

li {
	padding: 5px;
}

.aside {
	border: 2px solid #eee;
	border-radius: 10px;
	padding: 10px;	
	background: rgba(130, 130, 130, 0.7);
}
